### PDF files ##

# Alan's labnotes pdf
Lab_Notes.pdf

# Hollis's labnotes pdf 
abridgedNotes.pdf
notes.pdf 
gilchristEmail.pdf
Hollis.Bui/RunnableScriptsAndData/June2017PAModelPop/restartFiles*

#Denizhan Pak
notes.pdf

# Walker's lanotes pdf
Wnotes.pdf 

# LaTeX stuff
*.aux
*.idx
*.log
*.out
*.toc

# R stuff
.Rhistory
*.Rdat

# Mac stuff
*.DS_Store
